@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.projects {
  margin: 2rem;
  @include flex-center;
  flex-direction: column;
  &__header {
    @include flex-center;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
