@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.hero {
  height: 80vh;
  padding: 2rem;
  @include flex-center;
  flex-direction: column;
  gap: 1.2rem;
  flex-wrap: wrap;
  @include media-query("tablet") {
    height: 100vh;
  }
  &__imgContainer {
    @include flex-center;
  }

  &__img {
    height: auto;
    width: 100%;
    max-width: 6.5rem;
    border-radius: 50%;
    border-bottom: 3px solid $orange1;
    @include media-query("tablet") {
      max-width: 9.5rem;
    }
    @include media-query("desktop") {
      max-width: 12.5rem;
    }
  }

  &__heading {
    background: linear-gradient(45deg, $black1, $grey1, $grey2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__subheading {
    color: $orange1;
  }

  .hero__sociallinks {
    list-style-type: none;
    padding: 0px;
    @include flex-center;
    gap: 1.2rem;
    a {
      font-size: 1.8rem;
      color: $blue1;
      @include media-query("tablet") {
        font-size: 2rem;
      }
    }
    a:hover {
      color: $grey2;
    }
  }
}
