@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.about {
  margin: 0 1rem;
  @include flex-center;
  flex-direction: column;

  &__header {
    @include flex-center;
    flex-direction: column;
  }
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.2rem;
  }
  &__content {
    flex: 1;
    padding: 3rem;
    @include flex-center;
    flex-direction: column;
    &-heading,
    &-text {
      margin-bottom: 1rem;
    }
  }
  &__skills {
    flex: 1;
    padding: 3rem;
    @include flex-center;
    flex-direction: column;
    &-heading {
      margin-bottom: 1rem;
    }
    &-container {
      @include flex-center;
      flex-wrap: wrap;
      gap: 1rem;
      p {
        margin: 0;
        padding: 0.5rem 1rem;
        // border: 1px solid #ddd;
        border-radius: 5px;
        font-weight: 700;
        color: $white;
        background-color: $orange1;
      }
    }
  }
}
