@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  z-index: 10;
  &__logo a {
    color: $blue1;
    text-decoration: none;
    @include ntr-font(400);
    font-style: normal;
    font-size: 3rem;
  }
  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.2rem;
    li {
      margin-left: 1.25rem;
      @include media-query("tablet") {
        margin: 0;
        text-align: center;
      }
    }
    a {
      color: $blue1;
      text-decoration: none;
      @include roboto-font(400);
      font-style: normal;
      font-size: 1.25rem;
    }
    .active {
      color: $grey1;
      text-decoration: none;
    }
  }
}
